/* Global */
body {
    border-collapse: collapse;
    margin: 0;
}
.hidden,
#game_menu.hidden,
#game_over_screen.hidden {
    display: none;
}

/* Game Menu */
#game_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    background-color: rgb(201, 201, 201);
}
#start_btn {
    padding: 0.5em;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(0, 218, 36);
}
#start_btn:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.55);
    background-color: rgb(0, 255, 42);
    cursor: pointer;
}

/* Game Over */
#game_over_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    user-select: none;
}
.game_over_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game_over_content h1 {
    font-size: 4em;
    color: rgb(184, 0, 0)
}
.game_over_content p {
    font-size: 1.5em;
    color: rgb(209, 209, 209);
}
#restart_btn {
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: rgb(245, 200, 0);
}
#restart_btn:hover {
    background-color: rgb(255, 233, 36);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

/* Game */
#game {
    max-width: 100%;
    height: 100vh;
}

/* Screen */
.screen {
    width: 100%;
    height: 80%;
    background-image: url('./asset/background.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.monster_info_container {
    position: absolute;
    left: 2%;
    top: 3%;
    text-align: center;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    width: 20%;
    height: 40%;
}
#monster_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#monster_image_container img {
    width: 10%;
}

/* Backpack */
#backpack_overlay {
    position: absolute;
    top: 0;
    background-color: rgba(63, 63, 63, 0.45);
    width: 100%;
    height: 100%;
}
#backpack_close {
    width: 1em;
    padding: 0.3em;
    text-align: center;
    background-color: rgb(184, 0, 0);
    border-radius: 5px;
}
#backpack_close:hover {
    background-color: rgb(206, 0, 0);
    box-shadow: 2px 2px 5px rgba(39, 39, 39, 0.6);
    cursor: pointer;
}
.backpack {
    margin: 10% auto 0;
    padding: 0.5em;
    border: 5px solid rgb(163, 83, 17);
    border-radius: 10px;
    background-color: rgb(175, 100, 39);
    width: 40%;
    height: 60%;
}
#backpack_content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
}
.backpack_items {
    margin: 0.5em 0.1em 0.5em 0.5em;
    padding: 0.3em;
    height: fit-content;
    background-color: rgb(255, 182, 123);
    border-radius: 2px;
    cursor: pointer;
}
#backpack_description {
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: rgb(175, 175, 175);
}
#backpack_description p,
#backpack_description h3 {
    margin: 0 2px;
}

/* Menu */
#log_container {
    background-color: rgb(68, 68, 68);
    padding: 0.4em;
    width: 50%;
    height: auto;
    overflow: auto;
}
.log_txt {
    color: rgb(219, 219, 219);
    font-size: 1.5em;
}
.menu {
    display: flex;
    background-color: rgb(199, 199, 199);
    width: 100%;
    height: 20%;
    user-select: none;
}
.action_selector_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
    gap: 1px;
}
.action_selector {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(82, 200, 255);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 2em;
    width: 48%;
    height: auto;
}
.action_selector:hover {
    background-color: rgb(140, 219, 255);
    box-shadow: 2px 2px 10px rgba(61, 61, 61, 0.75);
    cursor: pointer;
}
.info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
}
.info_hp::-webkit-progress-value,
.info_hp::-moz-progress-bar {
    background-color: rgb(235, 16, 0);
}
.info_mp::-webkit-progress-value,
.info_mp::-moz-progress-bar {
    background-color: rgb(0, 150, 250);
}
progress {
    margin: 0.2em;
    border-radius: 10px;
}
#gold_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#gold_txt img {
    width: 30%;
    margin-left: 5px;
}